<div class="chart-container">
  <h3 class="chart-title" *ngIf="title">{{ title }}</h3>

  <div class="chart-content">
    <div class="bars-container" *ngIf="data && data.length > 0; else noData">
      <div
        class="bar-item"
        *ngFor="let item of data; trackBy: trackByEnvironment"
      >
        <div class="bar-wrapper">
          <div
            class="bar"
            [style.height.%]="getBarHeight(item.count)"
            [style.background-color]="item.color"
            [attr.title]="item.environment + ': ' + item.count + ' desarrollo' + (item.count !== 1 ? 's' : '')"
          >
            <span 
              class="bar-value" 
              *ngIf="shouldShowValue(item.count)"
              [style.color]="item.color ? getTextColor(item.color) : 'white'"
            >
              {{ item.count }}
            </span>
          </div>
        </div>
        <div class="bar-label">{{ item.environment }}</div>
      </div>
    </div>
    
    <ng-template #noData>
      <div class="no-data">
        <p>No hay datos disponibles</p>
      </div>
    </ng-template>
  </div>
</div>

